<!--  {%load static%}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title> Login</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link href="{% static 'css\all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css\bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css\ruang-admin.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-login">

  <div class="container-login">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-12 col-md-9">
        <div class="card shadow-sm my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-12">
                <div class="login-form">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Login</h1>
                  </div>
                  <form class="user" method="post">
                    {%csrf_token%}
              
                    <div class="form-group">
                      <label for="id_username">Username:</label> <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
                      <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
                        name="login" placeholder="E-mail address" autocomplete="email" required id="id_login">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" idname="password" placeholder="Password" autocomplete="current-password" required id="id_password">
                    </div>
                    {{form}}
                  
                    <div class="form-group">
                      <a href="{% url 'homepage' %}" class="btn btn-primary btn-block">Login</a>
                    </div>
                    <hr>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="font-weight-bold small" href="#">Create an Account!</a>
                  </div>
                  <div class="text-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
   <script src="{% static 'jquery\jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap\bootstrap.bundle.min.js' %}"></script> 
    <script src="{% static 'js\ruang-admin.min.js' %}"></script> 
</body>

</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="" method='post'>
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit" name="login" id="login">
    
  </form>
</body>
</html>